/*contacto.html*/
.contact__title{
    @include principal-title();
    @include margin-titles();
}

/*BLOQUE DE INFORMACION*/
.contact__info{
    justify-content: space-around;
    align-items: center;
    background-color: rgba($deep-blue, 0.2);
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem auto;
    border: 2px solid $yellow;
    box-shadow: 0px 0px 10px $yellow;
    .contact__info__text{
        padding-bottom: 1rem;
        word-spacing: 0.2rem;
        .contact__info__text__data{
            padding-bottom: 1rem;
            p{
                margin: 0rem;
                .resaltar-info{
                    font-weight: 700;
                }
            }
        }
        .contact__info__text__blockicons{
            justify-content: center;
            margin: 0rem;
            padding: 0rem;
            .contact__info__text__blockicons__icon{
                @include social-network;
                a.icoFacebook {
                    background-color:#3B5998;
                }
                a.icoInstagram {
                    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                }
                a.icoMail {
                    background-color:#BD3518;
                }
                @include social-circle;
            }
        }
    }
    .contact__info__iframe{
        display: flex;
        justify-content: center;
        iframe{
            width: 100%;
            height: 270px;
        }
    }
}
@media screen and (max-width: 992px){
    .contact__info{
        .contact__info__text{
            font-size: 0.9rem;
        }
        .contact__info__iframe{
            iframe{
                width: 100%;
                height: 180px;
            }
        }
    }
}
@media screen and (max-width: 576px){
    .contact__info{
            padding: 1rem 0rem;
            animation-name: animation-box;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-duration: 2.5s;
        .contact__info__text{
            font-size: 14px;
            word-spacing: 0rem;
            padding-left: 0rem;
            padding-right: 0rem;
            .contact__info__text__blockicons{
                .contact__info__text__blockicons__icon{
                    font-size: map-get($map: $font-sizes, $key: xx-large);
                    margin: 0rem 1rem;
                }
            }
        }
        .contact__info__iframe{
            iframe{
                width: 100%;
                height: 150px;
            }
        }
    }
}
/*FORMULARIO DE CONTACTO*/
.contact-form{
    justify-content: center;
    form{
        background-image: linear-gradient(to bottom, rgba($dark-blue, 0.3), rgba($lightgrey, 0.3));
        margin: 0px auto 0px auto;
        padding: 1rem 0rem;
        border-radius: 20px;
        @include body-text();
        color: $lightgrey;
        text-align: center;
        fieldset{
            border: 2px solid $lightgrey;
            margin: 1rem 3rem;
            padding: 0rem 0rem 2rem 0rem;
            legend{
                width: inherit;
                margin: 0rem auto;
                @include format-text ('Ubuntu', map-get($map: $font-sizes, $key: x-large));
                font-weight: 600;
                font-variant: small-caps;
                letter-spacing: map-get($map: $letter-spacings, $key: medium);
            }
            .form-info-text{
                padding: 0.5rem 0rem 1rem 0rem;
                p{
                    padding: 0rem;
                    margin: 0;
                    font-family: 'Ubuntu', sans-serif;
                }
                .small-text{
                    font-size: 0.8rem;
                    padding: 0;
                }
            }
            .form-group{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: 1.5rem 0rem;
                .form-group__text{
                    padding: 0.25rem 0rem;
                    margin: 0rem;
                    width: 150px;
                    text-align: center;
                }
                .form-group__input{
                    padding: 0.25rem 0rem;
                    margin: 0rem 0.5rem;
                    width: 300px;
                    text-align: center;
                    background-color: $dark10;
                    color: $lightgrey;
                    border: 1px solid $bg-lightwhite;
                    transition: all 0.5s;
                }
                .form-group__input:focus{
                    padding: 0.5rem 0rem;
                    background-color: $lightgrey;
                    color: black;
                    font-weight: 700;
                    font-size: map-get($map: $font-sizes, $key: medium);
                }
            }
            .form-group__textarea{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin-bottom: 2rem;
                .form-group__textarea__text{
                    padding: 0.25rem 0rem;
                    text-align: center;
                }
                .form-group__textarea__textarea{
                    padding: 0.25rem 0rem;
                    width: 500px;
                    height: 150px;
                    text-align: center;
                    background-color: $dark10;
                    color: $lightgrey;
                    border: 1px solid $bg-lightwhite;
                    transition: all 0.5s;
                }
                .form-group__textarea__textarea:focus{
                    padding: 0.5rem 0rem;
                    background-color: $lightgrey;
                    color: black;
                    font-weight: 700;
                    font-size: map-get($map: $font-sizes, $key: medium);
                    width: 550px;
                }
            }
            .form-group__buttons{
                @extend .form-group;
                .button__form{
                    background-color: rgba(#f8d505, 0.90);
                    color: black;
                    @include format-text ('Ubuntu', map-get($map: $font-sizes, $key: medium));
                    border: 2px solid white;
                    box-shadow: 0px 5px 5px $dark10;
                    margin: 0rem 1rem;
                    width: 200px;
                    transition: all 0.2s;
                }
                .button__form:hover{
                    background-color: $dark10;
                    border: 2px solid rgba($yellow, 0.95);
                    color: white;
                    box-shadow: 0px 0px 15px white;
                }
                .button__form--reset{
                    background-color: rgba(white, 0.90);
                }
            }
        }
    }
}
@media screen and (max-width: 992px){
    .contact-form{
        form{
            font-size: 0.9rem;
            fieldset{
                margin: 1rem 2rem;
                .form-group{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem 0rem;
                    .form-group__text{
                        margin: 0rem;
                    }
                }
                .form-group__textarea{
                    .form-group__textarea__text{
                        width: 150px;
                    }
                    .form-group__textarea__textarea{
                        width: 400px;
                    }
                    .form-group__textarea__textarea:focus{
                        width: 450px;
                        height: 150px;
                    }
                }
                .form-group__buttons{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .contact-form{
        form{
            font-size: 15px;
            padding: 1rem 0rem;
            fieldset{
                margin: 0.5rem 0.5rem;
                legend{
                    font-size: 1.4rem;
                    letter-spacing: map-get($map: $letter-spacings, $key: small);
                }
                .form-info-text{
                    padding: 0.25rem 0rem 0.5rem 0rem;
                    p{
                        font-size: 14px;
                    }
                    .small-text{
                        font-size: 11px;
                    }
                }
                .form-group{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    margin: 1rem 0rem;
                    .form-group__text{
                        margin: 0rem;
                        width: 250px;
                    }
                    .form-group__input{
                        margin: 0rem;
                        width: 250px;
                    }
                    .form-group__input:focus{
                        font-size: map-get($map: $font-sizes, $key: small);
                    }
                }
                .form-group__textarea{
                    margin: 0.5rem 0rem;
                    .form-group__textarea__text{
                        width: 250px;
                    }
                    .form-group__textarea__textarea{
                        width: 250px;
                    }
                    .form-group__textarea__textarea:focus{
                        width: 250px;
                        height: 180px;
                    }
                }
                .form-group__buttons{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    margin-bottom: 0rem;
                    .button__form{
                        margin: 0.5rem 0rem;
                        font-size: 14px;
                        width: 200px;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}