/*productos.html*/
.products__title{
    @include principal-title();
    @include margin-titles();
}
/*CAROUSEL IMAGENES -HOME*/
.products__carousel{
    margin: 1rem 0rem 3rem 0rem;
    justify-content: center;
}
.products__carousel__img{
    margin: 0rem auto;
    filter: grayscale(30%);
    width: 70%;
}

.carousel-indicators{
    .active{
        background-color: $yellow;
    }
}
@media screen and (max-width: 992px){
    .products__carousel__img{
        width: 80%;
    }
}
@media screen and (max-width: 576px){
    .products__carousel__img{
        width: 100%;
    }
}
/*SECCION DE PRODUCTOS*/
.products__box{
    padding: 0rem;
    .products__box__title{
        @include block-titles();
        text-shadow: 2px 2px 4px black;
        .resaltar{
            @include highlight();
        }
    }
}
.products__section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    .products__section__block{
        flex-basis: 30%;
        background-color: $bg-lightwhite;
        padding: 0 10px 5px 10px;
        margin-bottom: 2.5rem;
        transition: all 0.3s;
        text-align: center;
        cursor: pointer;
        .products__section__img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transition: all 0.5s;
        }
        .products__section__img:hover{
            transform: scale(1.1, 1.1);
        }
        h3{
            padding: 1.5rem 0rem 0.5rem 0rem;
            margin: 0rem;
            color: $lightgrey;
            text-shadow: 2px 2px 4px black;
            display: inline-block;
            background-color: transparent;
            font-family: 'Ubuntu', sans-serif;
            font-size: 15pt;
            letter-spacing: 1px;
            font-weight: 600;
            font-variant: small-caps;
            background-image: linear-gradient(yellow, #f8d505);
            background-size: 70% 2px, auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            transition: all .2s ease-out;
            &:hover{
                background-size: 100% 2px, auto;
            }
        }
    }
    .products__section__block:hover{
        @include box-shadow-white ();
    }
}

@media screen and (max-width: 992px){
    .products__section{
        .products__section__block{
            flex-basis: 30%;
            margin-bottom: 1.5rem;
        }
    }
}
@media screen and (max-width: 768px){
    .products__section{
        .products__section__block{
            flex-basis: 47%;
        }
    }
}
@media screen and (max-width: 576px){
    .products__section{
        .products__section__block{
            flex-basis: 90%;
        }
    }
}

/*MODAL*/
.modal-content{
    background-color: rgba($dark10, 0.9);
}
.modal-title{
    color: white;
    font-family: $font-family-primary;
    letter-spacing: map-get($map: $letter-spacings, $key: small);
}
.close{
    color: $yellow;
    opacity: 1;
    text-shadow: none;
}
.close:hover{
    color: $yellow;
}
.img-modal-body{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media screen and (min-width: 992px){
    .modal-content{
        width: 130%;
        height: 130%;
    }
}
