/*VARIABLES, MIXINS, MAPS*/
/*COLORS*/
$dark10: rgb(10, 10, 10);
$dark20: rgb(20, 20, 20);
$dark20transparent90: rgba(20, 20, 20, 0.9);
$lightgrey: rgb(236, 240, 241);
$mediumgrey: rgb(206, 206, 206);
$yellow: rgb(248, 232, 5);
$yellow-logo: rgb(248, 213, 5);
$yellowlight: rgb(255, 246, 121);
$dark41: rgb(41, 41, 41);
$grey-dark: rgb(25, 25, 25);
$grey-light: rgb(117, 116, 116);
$dark-blue: rgb(41, 41, 71);
$deep-blue: rgb(34, 34, 59);
$purple: rgb(122, 95, 255);
$green: rgb(1, 255, 137);


/*background-color*/
$bg-lightwhite: rgba(white, 0.15);

/*font-family*/
$font-family-primary: 'Oswald', sans-serif;
$font-family-secondary: 'Ubuntu', sans-serif;
$font-family-body: 'Lato', sans-serif;

/*maps*/
$font-sizes: ('x-small': 0.8rem , 'small': 0.9rem , 'medium': 1rem, 'large': 1.2rem, 'x-large': 1.5rem, 'xx-large': 2rem, 'xxx-large': 2.5rem);
$letter-spacings: ('x-small': 0.1rem, 'small': 0.2rem, 'medium': 0.3rem, 'large': 0.5rem);

/*ANIMACIONES*/
$duration: 0.4s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

@keyframes boton-contacto-animation {
    0%{
        border: 2px solid $yellow;
        box-shadow: 0px 0px 5px $lightgrey;
    }
    50%{
        border: 2px solid $yellow;
        box-shadow: 0px 0px 30px white;
    }
    100%{
        border: 2px solid $yellow;
        box-shadow: 0px 0px 5px $lightgrey;
    }
}
@keyframes bg-cards {
    0% {
        background-color: rgba(black, 0.9);
        box-shadow: 0px 0px 25px white;
    }
    50%{
        background-color: rgba(black, 0.5);
        box-shadow: 0px 0px 15px white;
    }
    100%{
        background-color: rgba($deep-blue, 0.2);
        box-shadow: 0px 0px 5px white;
    }
}
@keyframes animation-box{
    0%{
        box-shadow: 0px 0px 10px $yellow;
    }
    50%{
        box-shadow: 0px 0px 30px $yellow;
    }
    100%{
        box-shadow: 0px 0px 10px $yellow;
    }
}
@keyframes size-icon{
    0%{
        transform: scale(1.5,1.5);
        margin: 2rem 0rem;
        text-shadow: 0 0 25px $mediumgrey;
    }
    50%{
        transform: scale(2.5,2.5);
        transform: rotateY(180deg);
        margin: 1rem 0rem;
        text-shadow: 0 0 15px $mediumgrey;
    }
    100%{
        transform: scale(1.5,1.5);
        margin: 2rem 0rem;
        text-shadow: 0 0 25px $mediumgrey;
    }
}
/*mixins*/
@mixin body-text (){
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
@mixin format-text ($font-family, $font-size) {
    font-family: $font-family;
    font-size: $font-size;
}
@mixin box-shadow-white () {
    box-shadow: 0px 0px 10px white;
}
@mixin text-shadow-grey () {
    text-shadow: 2px 2px 4px $mediumgrey;
}
@mixin margin-titles(){
    margin: 1rem 0rem 1.5rem 0rem;
}

@mixin social-network{
    padding: 0rem;
    a.icoFacebook:hover {
        background-color:#3B5998;
    }
    a.icoInstagram:hover {
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    }
    a.icoMail:hover {
        background-color:#BD3518;
    }
} 
@mixin social-circle{
    li{
        list-style: none;
        display: inline;
        margin: 0rem 1.5rem;
        a {
            display:inline-block;
            position:relative;
            margin:0 auto 0 auto;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            border-radius:50%;
            text-align:center;
            width: 50px;
            height: 50px;
            font-size:20px;
            background-color: rgba($mediumgrey, 0.5);
        }
        i {
            margin:0;
            font-size: 1.7rem;
            line-height:50px;
            text-align: center;
            color: #fff;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }
        .icon-instagram{
            font-size: 2rem;
        }
        a:hover{
            i{
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -ms--transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }
        }
    }
    @media screen and (max-width: 576px){
        li{
            margin: 0rem 1rem;
            a{
                width: 45px;
                height: 45px;
            }
            i {
                font-size: 1.4rem;
                line-height: 45px;
            }
            .icon-instagram{
                font-size: 1.55rem;
            }
        }
    }
}
@mixin principal-title(){
    background-image: linear-gradient(to right, rgb(236, 240, 241), rgba(0,0,0, 0.5));
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: map-get($map: $letter-spacings, $key: medium);
    @include format-text ($font-family-primary, map-get($map: $font-sizes, $key: xxx-large));
    text-align: center;
    padding: 10px;
    @media screen and (max-width: 992px){
        font-size: map-get($map: $font-sizes, $key: xx-large);
    }
    @media screen and (max-width: 576px){
        font-size: 1.75rem;
    }
}
/*titulos de secciones de la web*/
@mixin block-titles(){
    justify-content: center;
    background-color: $bg-lightwhite;
    padding: 1rem 0rem;
    margin: 0rem;
    @include format-text($font-family-primary, map-get($map: $font-sizes, $key: xx-large));
    text-shadow: 4px 4px 4px $dark20;
    text-align: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: map-get($map: $letter-spacings, $key: large);
    @media screen and (max-width: 992px){
        padding: 0.75rem 0rem;
        font-size: map-get($map: $font-sizes, $key: x-large);
        letter-spacing: map-get($map: $letter-spacings, $key: medium);
    }
    @media screen and (max-width: 576px){
        padding: 0.5rem 0rem;
        font-size: 1.4rem;
        letter-spacing: map-get($map: $letter-spacings, $key: small);
    }
}
@mixin block-subtitles (){
    @include format-text($font-family-secondary, 1.3rem);
    @include text-shadow-grey();
    font-weight: 400;
    color: white;
    letter-spacing: map-get($map: $letter-spacings, $key: small);
    margin: 0.5rem 0rem 0rem 0rem;
    @media screen and (max-width: 992px){
        @include format-text($font-family-secondary, map-get($map: $font-sizes, $key: medium));
        letter-spacing: map-get($map: $letter-spacings, $key: x-small);
    }
    @media screen and (max-width: 576px){
        @include format-text($font-family-secondary, map-get($map: $font-sizes, $key: small));
        letter-spacing: 0px;
    }
}
@mixin block-title-underline(){
    justify-content: center;
    padding: 1rem 0rem;
    margin: 1rem 0rem;
    text-shadow: 2px 2px 4px black;
    display: inline-block;
    @include format-text($font-family-secondary, map-get($map: $font-sizes, $key: xx-large));
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: map-get($map: $letter-spacings, $key: medium);
    background-image: linear-gradient($yellow, $yellow-logo);
    background-size: 70% 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    &:hover{
        background-size: 100% 2px, auto;
    }
    @media screen and (max-width: 992px){
        padding: 0.75rem 0rem;
        margin: 0.75rem 0rem;
        @include format-text($font-family-secondary, map-get($map: $font-sizes, $key: x-large));
        letter-spacing: map-get($map: $letter-spacings, $key: medium);
    }
    @media screen and (max-width: 576px){
        padding: 0.5rem 0rem;
        margin: 0.5rem 0rem;
        @include format-text($font-family-secondary, 1.4rem);
        letter-spacing: map-get($map: $letter-spacings, $key: small);
    }
}
@mixin highlight(){
    color: $yellow;
}
@mixin carousel-titles(){
    justify-content: center;
    background-color: $bg-lightwhite;
    padding: 1rem 0rem;
    margin: 4rem 0 0.25rem 0rem;
    font-family: $font-family-secondary;
    font-size: 1.8rem;
    text-shadow: 4px 4px 2px $dark20;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing:  map-get($map: $letter-spacings, $key: medium);
    text-transform: uppercase;
    &:first-letter{
        color: $yellow;
    }
    @media screen and (max-width: 992px){
        padding: 0.75rem 0rem;
        margin: 3rem 0 0.25rem 0rem;
        font-size: map-get($map: $font-sizes, $key: x-large);
    }
    @media screen and (max-width: 576px){
        padding: 0.5rem 0rem;
        margin: 2.5rem 0 0rem 0rem;
        letter-spacing:  map-get($map: $letter-spacings, $key: x-small);
        font-size: 1.3rem;
    }
}